
#big_logo_div{ background-color:$mainColor; text-align: left;}
.section_header {background-color:$mainColor;
  color:#ffffff;
  padding: 3px 10px;
}

#big_logo_div img{
  width: 120px;
  margin: 5px;

}