
.error_message_div{ color: #ff0000;
  border:1px solid #660000;
  margin: 3px 0px;
  padding: 3px;
}
.success_message_div{ color:#1BBB0F;
  //       text-shadow: 1px 1px 1px #fff, 2px 2px 1px #000;
  border:1px solid #006600;
  margin: 3px 0px;
  padding: 3px;
}