/*________________________tables*/
/*____________________search*/
.search_form {
  margin: 0px 2%;
  /* padding:0px 2%; */
  background: #EFEDF1; }

.search_one_all_div {
  margin: 5px 0.5%;
  DISPLAY: inline-block;
  border-top: 5px solid #4A80C2;
  padding: 5px 0px;
  background: #DEDEDE; }

.search_one_all_div:hover {
  border-top: 5px solid #B5D2EF; }

.search_one_all_div label {
  display: inline;
  display: inline-block;
  padding: 5px;
  color: #555555;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  cursor: pointer;
  /* margin: 0px 1px; */ }

.search_one_all_div label.checked {
  color: #4A80C2;
  border-color: #4A80C2; }

/*_______________END__search*/
.primary_table_div {
  margin: 0;
  padding: 0px; }

.primary_table_div table {
  margin: 5px 2%;
  width: 96%;
  border-bottom: 1px solid #C8C0CE; }

.primary_table_div table input {
  width: 100%;
  margin: 0px; }

.primary_table_div table thead th {
  background-color: #C8C0CE; }

.primary_table_div.info thead th {
  background-color: #8DB4DB;
  color: #ffffff;
  padding: 5px 0px;
  border-left: 1px solid #C8C0CE; }

.primary_table_div.info thead th a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  width: 100%; }

.primary_table_div.info thead th a.ask:after {
  content: "\f0d7";
  /*down*/
  float: right;
  font: normal normal normal 14px/1 FontAwesome;
  margin: 5px; }

.primary_table_div.info thead th a.desc:after {
  margin: 5px;
  content: "\f0d8";
  /*up*/
  float: right;
  font: normal normal normal 14px/1 FontAwesome; }

.primary_table_div table tbody td {
  text-align: center;
  padding: 2px; }

.primary_table_div table tbody td {
  border-left: 1px solid #C8C0CE; }

.primary_table_div table tbody tr:nth-child(odd) td {
  background-color: #E9E6EC; }

.primary_table_div table tbody tr:nth-child(even) td {
  background-color: #DFDEE0; }

/*__________________pagination*/
.pagination_ul {
  margin: 7px 0px;
  /* margin-bottom: 37px; */
  float: right;
  padding: 0px; }

.pagination_ul li {
  list-style: none;
  float: right;
  margin: 0px 1px; }

.pagination_ul li a {
  display: block;
  color: #ffffff;
  background-color: #8DB4DB;
  padding: 4px 10px;
  border: 1px solid #D5CBDC; }

.pagination_ul li.active a {
  background-color: #4A80C2; }

.pagination_ul li a:hover {
  background-color: #DFDEE0; }

/*________________END__pagination*/
/*___________________________________________________responsive_table*/
.primary_table_div {
  margin: 0;
  padding: 0px; }

.primary_table_div .table {
  margin: 5px 2%;
  width: 96%;
  border-bottom: 1px solid #C8C0CE; }

.primary_table_div .table .input {
  width: 100%;
  margin: 0px; }

.primary_table_div table thead th {
  background-color: #C8C0CE; }

.primary_table_div.info .thead .th {
  background-color: #8DB4DB;
  color: #ffffff;
  padding: 5px 0px;
  border-left: 1px solid #C8C0CE; }

.primary_table_div.info .thead .th .a {
  display: block;
  color: #ffffff;
  text-decoration: none;
  width: 100%; }

.primary_table_div.info .thead .th a.ask:after {
  content: "\f0d7";
  /*down*/
  float: right;
  font: normal normal normal 14px/1 FontAwesome;
  margin: 5px; }

.primary_table_div.info .thead .th a.desc:after {
  margin: 5px;
  content: "\f0d8";
  /*up*/
  float: right;
  font: normal normal normal 14px/1 FontAwesome; }

.primary_table_div table .tbody .td {
  text-align: center;
  padding: 2px; }

.primary_table_div .table .tbody .td {
  border-left: 1px solid #C8C0CE; }

.primary_table_div .table .tbody .tr:nth-child(odd) .td {
  background-color: #E9E6EC; }

.primary_table_div .table .tbody .tr:nth-child(even) .td {
  background-color: #DFDEE0; }

/*________________________________________________End___responsive_table*/
/*____________________END____tables*/

/*# sourceMappingURL=table.css.map */
