/*__________________________tab*/
.bage_tab_div{
    width:33.3333%;
    border-right: 1px solid #fff;
    margin-right: -1px;
}
/*________________________END__tab*/

/*______________________form*/
#exchange_address_input,#exchange_phone_number_input,#exchange_transfer_amount_input,#exchange_recever_name_input,#exchange_password_input
,.bank_account_name_input,#current_account_balance,.half_row{ display: block;width:50%;margin:2%;}
#exchange_name_label{ width: 30%;}
#exchange_name_select{ width: 70%; margin: 0px;}
#current_account_balance{
    text-align: center;
    background-color: #DFDEE0;
}
/*__________END____________form*/
