<% if(typeof  getJustPageCenter =='undefined'){ %>




</section>
</section>


<footer id="page_footer" >

    copy rights for taylorsuccessor @2015

    <a href="login.php?logout=1">log out</a>
</footer>















<div class="popupWindow">
    <div class="blackShadowDiv" ></div>
    <div class="popupContainer">
        <header class="popupHeader">
            <h1 class="popupTitle">pop up title</h1>
            <i class="fa fa-times"></i>
        </header>
        <section class="popupSection">

        </section>
        <footer class="popupFooter">

        </footer>
    </div>
</div>




<script src="/cloudybank/js/main.js"></script>


</body>
</html>


<% } %>