<ul class="mainMenu">
    <li> <a href="/admin/payments">payments</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/admin/payments/create">create payments</a></li>

        <li><a href="/admin/payments/users">payments users</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/admin/users">users</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/admin/users/create">create users</a></li>

        <li><a href="/admin/users/payments">users payments</a>
    </li>

        <li><a href="/admin/users/users_details">users users_details</a>
    </li>

        <li><a href="/admin/users/users_documents">users users_documents</a>
    </li>

        <li><a href="/admin/users/goods">users goods</a>
    </li>

        <li><a href="/admin/users/sales">users sales</a>
    </li>

        <li><a href="/admin/users/users_need_installment">users users_need_installment</a>
    </li>

        <li><a href="/admin/users/users_installment_offers">users users_installment_offers</a>
    </li>

        <li><a href="/admin/users/users_installment_offers">users users_installment_offers</a>
    </li>

        <li><a href="/admin/users/paid">users paid</a>
    </li>

        <li><a href="/admin/users/paid">users paid</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/admin/users_details">users_details</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/admin/users_details/create">create users_details</a></li>

        <li><a href="/admin/users_details/users">users_details users</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/admin/users_documents">users_documents</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/admin/users_documents/create">create users_documents</a></li>

        <li><a href="/admin/users_documents/users">users_documents users</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/admin/goods">goods</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/admin/goods/create">create goods</a></li>

        <li><a href="/admin/goods/users">goods users</a>
    </li>

        <li><a href="/admin/goods/goods_details">goods goods_details</a>
    </li>

        <li><a href="/admin/goods/goods_images">goods goods_images</a>
    </li>

        <li><a href="/admin/goods/sales">goods sales</a>
    </li>

        <li><a href="/admin/goods/users_need_installment">goods users_need_installment</a>
    </li>

        <li><a href="/admin/goods/paid">goods paid</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/admin/goods_details">goods_details</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/admin/goods_details/create">create goods_details</a></li>

        <li><a href="/admin/goods_details/goods">goods_details goods</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/admin/goods_images">goods_images</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/admin/goods_images/create">create goods_images</a></li>

        <li><a href="/admin/goods_images/goods">goods_images goods</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/admin/goods_price">goods_price</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/admin/goods_price/create">create goods_price</a></li>

    
Notice: Undefined index: goods_price in F:\wamp\www\myCrud\input\express2\views\((_$usersTypes_))\include\16062310225721501.php on line 9

Call Stack:
    0.0002     229488   1. {main}() F:\wamp\www\myCrud\index.php:0
    6.1293     752984   2. getFolderFiles() F:\wamp\www\myCrud\index.php:51
    7.1309     766088   3. getFolderFiles() F:\wamp\www\myCrud\core\generatorFunctios.php:157
    7.1776     766928   4. getFolderFiles() F:\wamp\www\myCrud\core\generatorFunctios.php:157
    7.9403     770384   5. getFolderFiles() F:\wamp\www\myCrud\core\generatorFunctios.php:157
    7.9405     771200   6. renderFileVariables() F:\wamp\www\myCrud\core\generatorFunctios.php:152
    7.9405     771200   7. outputFile() F:\wamp\www\myCrud\core\generatorFunctios.php:140
    7.9417     848240   8. include('F:\wamp\www\myCrud\input\express2\views\((_$usersTypes_))\include\16062310225721501.php') F:\wamp\www\myCrud\core\generatorFunctios.php:122


Warning: Invalid argument supplied for foreach() in F:\wamp\www\myCrud\input\express2\views\((_$usersTypes_))\include\16062310225721501.php on line 9

Call Stack:
    0.0002     229488   1. {main}() F:\wamp\www\myCrud\index.php:0
    6.1293     752984   2. getFolderFiles() F:\wamp\www\myCrud\index.php:51
    7.1309     766088   3. getFolderFiles() F:\wamp\www\myCrud\core\generatorFunctios.php:157
    7.1776     766928   4. getFolderFiles() F:\wamp\www\myCrud\core\generatorFunctios.php:157
    7.9403     770384   5. getFolderFiles() F:\wamp\www\myCrud\core\generatorFunctios.php:157
    7.9405     771200   6. renderFileVariables() F:\wamp\www\myCrud\core\generatorFunctios.php:152
    7.9405     771200   7. outputFile() F:\wamp\www\myCrud\core\generatorFunctios.php:140
    7.9417     848240   8. include('F:\wamp\www\myCrud\input\express2\views\((_$usersTypes_))\include\16062310225721501.php') F:\wamp\www\myCrud\core\generatorFunctios.php:122

</ul>
        </div>

    </li>
        <li> <a href="/admin/sales">sales</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/admin/sales/create">create sales</a></li>

        <li><a href="/admin/sales/users">sales users</a>
    </li>

        <li><a href="/admin/sales/goods">sales goods</a>
    </li>

        <li><a href="/admin/sales/price">sales price</a>
    </li>

        <li><a href="/admin/sales/paid">sales paid</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/admin/users_need_installment">users_need_installment</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/admin/users_need_installment/create">create users_need_installment</a></li>

        <li><a href="/admin/users_need_installment/users">users_need_installment users</a>
    </li>

        <li><a href="/admin/users_need_installment/goods">users_need_installment goods</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/admin/users_installment_offers">users_installment_offers</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/admin/users_installment_offers/create">create users_installment_offers</a></li>

        <li><a href="/admin/users_installment_offers/users">users_installment_offers users</a>
    </li>

        <li><a href="/admin/users_installment_offers/users">users_installment_offers users</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/admin/paid">paid</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/admin/paid/create">create paid</a></li>

        <li><a href="/admin/paid/users">paid users</a>
    </li>

        <li><a href="/admin/paid/users">paid users</a>
    </li>

        <li><a href="/admin/paid/goods">paid goods</a>
    </li>

        <li><a href="/admin/paid/sales">paid sales</a>
    </li>

    </ul>
        </div>

    </li>
    
</ul>