
<aside id="main_menu_aside">
    <div id="account_amount_div">


        30$
    </div>


    <ul id="left_menu_ul" >
    <li> <a href="/client/goods">goods</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/client/goods/create">create goods</a></li>

        <li><a href="/client/goods/users">goods users</a>
    </li>

        <li><a href="/client/goods/offers">goods offers</a>
    </li>

        <li><a href="/client/goods/goods_img">goods goods_img</a>
    </li>

        <li><a href="/client/goods/comments">goods comments</a>
    </li>

        <li><a href="/client/goods/raises">goods raises</a>
    </li>

        <li><a href="/client/goods/purchases">goods purchases</a>
    </li>

        <li><a href="/client/goods/payments">goods payments</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/client/offers">offers</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/client/offers/create">create offers</a></li>

        <li><a href="/client/offers/goods">offers goods</a>
    </li>

        <li><a href="/client/offers/users">offers users</a>
    </li>

        <li><a href="/client/offers/users">offers users</a>
    </li>

        <li><a href="/client/offers/purchases">offers purchases</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/client/offers_comments">offers_comments</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/client/offers_comments/create">create offers_comments</a></li>

        <li><a href="/client/offers_comments/users">offers_comments users</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/client/goods_img">goods_img</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/client/goods_img/create">create goods_img</a></li>

        <li><a href="/client/goods_img/goods">goods_img goods</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/client/comments">comments</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/client/comments/create">create comments</a></li>

        <li><a href="/client/comments/goods">comments goods</a>
    </li>

        <li><a href="/client/comments/users">comments users</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/client/raises">raises</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/client/raises/create">create raises</a></li>

        <li><a href="/client/raises/goods">raises goods</a>
    </li>

        <li><a href="/client/raises/users">raises users</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/client/purchases">purchases</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/client/purchases/create">create purchases</a></li>

        <li><a href="/client/purchases/users">purchases users</a>
    </li>

        <li><a href="/client/purchases/goods">purchases goods</a>
    </li>

        <li><a href="/client/purchases/offers">purchases offers</a>
    </li>

        <li><a href="/client/purchases/payments">purchases payments</a>
    </li>

        <li><a href="/client/purchases/purchases_offers">purchases purchases_offers</a>
    </li>

        <li><a href="/client/purchases/payments">purchases payments</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/client/purchases_offers">purchases_offers</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/client/purchases_offers/create">create purchases_offers</a></li>

        <li><a href="/client/purchases_offers/purchases">purchases_offers purchases</a>
    </li>

        <li><a href="/client/purchases_offers/users">purchases_offers users</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/client/payments">payments</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/client/payments/create">create payments</a></li>

        <li><a href="/client/payments/purchases">payments purchases</a>
    </li>

        <li><a href="/client/payments/users">payments users</a>
    </li>

        <li><a href="/client/payments/users">payments users</a>
    </li>

        <li><a href="/client/payments/purchases">payments purchases</a>
    </li>

        <li><a href="/client/payments/goods">payments goods</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/client/users">users</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/client/users/create">create users</a></li>

        <li><a href="/client/users/goods">users goods</a>
    </li>

        <li><a href="/client/users/offers">users offers</a>
    </li>

        <li><a href="/client/users/offers">users offers</a>
    </li>

        <li><a href="/client/users/offers_comments">users offers_comments</a>
    </li>

        <li><a href="/client/users/comments">users comments</a>
    </li>

        <li><a href="/client/users/raises">users raises</a>
    </li>

        <li><a href="/client/users/purchases">users purchases</a>
    </li>

        <li><a href="/client/users/purchases_offers">users purchases_offers</a>
    </li>

        <li><a href="/client/users/payments">users payments</a>
    </li>

        <li><a href="/client/users/payments">users payments</a>
    </li>

        <li><a href="/client/users/users_details">users users_details</a>
    </li>

        <li><a href="/client/users/users_documents">users users_documents</a>
    </li>

        <li><a href="/client/users/money_transfer">users money_transfer</a>
    </li>

        <li><a href="/client/users/money_transfer">users money_transfer</a>
    </li>

        <li><a href="/client/users/charge_account">users charge_account</a>
    </li>

        <li><a href="/client/users/financial_movement">users financial_movement</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/client/users_details">users_details</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/client/users_details/create">create users_details</a></li>

        <li><a href="/client/users_details/users">users_details users</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/client/users_documents">users_documents</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/client/users_documents/create">create users_documents</a></li>

        <li><a href="/client/users_documents/users">users_documents users</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/client/money_transfer">money_transfer</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/client/money_transfer/create">create money_transfer</a></li>

        <li><a href="/client/money_transfer/users">money_transfer users</a>
    </li>

        <li><a href="/client/money_transfer/users">money_transfer users</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/client/charge_account">charge_account</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/client/charge_account/create">create charge_account</a></li>

        <li><a href="/client/charge_account/users">charge_account users</a>
    </li>

    </ul>
        </div>

    </li>
        <li> <a href="/client/financial_movement">financial_movement</a>

        <div class="subMenu">
    <ul>
    <li> <a href="/client/financial_movement/create">create financial_movement</a></li>

        <li><a href="/client/financial_movement/users">financial_movement users</a>
    </li>

    </ul>
        </div>

    </li>
    
</ul>
    </aside>