$mainColor:#4A80C2;
$liteMainColor:#8DB4DB;

$mainBgColor:#E0D4E9;
$liteMainBgColor:#EAE6EE;


//$mainColor:#f00;
//$liteMainColor:#fc0;
//
//$mainBgColor:#0f0;
//$liteMainBgColor:#00f;


$xsWidth:600px;